@model List<_2001216311_VuThiHuyenVi_DoAn.Models.Cart>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<link href="~/Css/StyleSheet3.css" rel="stylesheet" />
<link href="~/Css/StyleSheet1.css" rel="stylesheet" />

<link href="~/Css/header1.css" rel="stylesheet" />
<link href="~/Css/Contact.css" rel="stylesheet" />
<link href="~/Css/Respond.css" rel="stylesheet" />
<link href="~/Css/form1.css" rel="stylesheet" />
<link href="~/Css/cartpage.css" rel="stylesheet" />
<div class="BACKGROUD">
    <ul class="breadcrumb">
        <li class="home">
            <a href="/"><span>Trang chủ</span></a>
            <span class="mr_lr">&nbsp;/&nbsp;</span>
        </li>
        <li><strong><span style="color: #FFAB00">Liên hệ</span></strong></li>
    </ul>
</div>
<section class="main-cart-page main-container col1-layout">
    <div class="main container cartpcstyle">
        <div class="wrap_background_aside padding-bottom-40">
            <div class="header-cart">
                <h1 class="title_cart">
                    <span>Giỏ hàng của bạn</span>
                </h1>
                <div class="header-cart title_cart_pc hidden-sm hidden-xs">

                </div>
            </div>
            <div class="col-main cart_desktop_page cart-page">
                <div class="cart page_cart hidden-xs hidden-sm row">
                    <form action="/cart" method="post" novalidate="" class="formcartpage col-lg-12 col-md-12 margin-bottom-0">
                        <div class="bg-scroll">
                            <div class="cart-thead">
                                <div style="width: 5%" class="a-center">STT</div>
                                <div style="width: 18%" class="a-center">Ảnh sản phẩm</div>
                                <div style="width: 27%" class="a-center">Tên sản phẩm</div>
                                <div style="width: 17%" class="a-center">Đơn giá</div>
                                <div style="width: 14%" class="a-center">Số lượng</div>
                                <div style="width: 14%" class="a-center">Thành tiền</div>
                                <div style="width: 5%" class="a-center">Xóa</div>
                            </div>
                            @{int i = 1, totPrice = 0;}
                            @foreach (var item in Model)
                            {
                                <div class="cart-tbody">
                                    <div style="width: 5%" class="a-center">
                                        <h3 class="product-id"> <a class="text2line" href="/sua-bot-cho-meo-110g-dr-kyan-precaten" title="Sữa bột cho mèo 110g Dr.Kyan Precaten">@i</a> </h3>
                                        <span class="variant-title"></span>
                                    </div>
                                    @*<div>
                                        @using(Html.BeginForm("UpdateQuantity", "Cart", FormMethod.Get))
                {
                    <input type="number" value="@item.Quantity" name="quan" />
                }
                                    </div>*@
                                    <div class="item-cart productid-49192493">
                                        <div style="width: 18%" class="image">
                                            <a class="product-image a-left" title="Sữa bột cho mèo 110g Dr.Kyan Precaten" href="/sua-bot-cho-meo-110g-dr-kyan-precaten">
                                                <img width="75" height="auto" alt="Sữa bột cho mèo 110g Dr.Kyan Precaten" src="@item.SanPhamm.HinhAnh">
                                            </a>
                                        </div>
                                        <div style="width: 27%" class="a-center">
                                            <h3 class="product-name"> <a class="text2line" href="/sua-bot-cho-meo-110g-dr-kyan-precaten" title="Sữa bột cho mèo 110g Dr.Kyan Precaten">@item.SanPhamm.NameSP</a> </h3>
                                            <span class="variant-title"></span>
                                        </div>
                                        <div style="width: 17%" class="a-center">
                                            <span class="cart-prices">
                                                <span class="prices">@item.SanPhamm.GiaMoi ₫</span>
                                            </span>
                                        </div>
                                        <div style="width: 14%" class="a-center">
                                            <div class="input_qty_pr">
                                                <input class="variantID" type="hidden" name="variantId" value="@item.ProId">
                                                <button onclick="var result = document.getElementById('qtyItem49192493'); var qtyItem49192493 = result.value; if( !isNaN( qtyItem49192493 ) &amp;&amp; qtyItem49192493 > 1 ) result.value--;return false;" class="reduced_pop items-count btn-minus" type="button">-</button>
                                                <input type="text" maxlength="3" readonly="" min="0" class="check_number_here input-text number-sidebar input_pop input_pop qtyItem49192493" id="qtyItem49192493" name="Lines" size="4" value="2">
                                                <button onclick="var result = document.getElementById('qtyItem49192493'); var qtyItem49192493 = result.value; if( !isNaN( qtyItem49192493 )) result.value++;return false;" class="increase_pop items-count btn-plus" type="button">+</button>
                                            </div>
                                            <span class="variantID">
                                                <span class="variantID">@Html.DisplayFor(model => item.Quantity) ₫</span>
                                            </span>
                                        </div>
                                        @*<div style="width: 14%" class="a-center">
            <span class="cart-price">
                <span class="price">@item.SanPhamm.GiaMoi ₫</span>
            </span>
        </div>*@

                                        <div style="width: 14%" class="a-center">
                                            <span class="cart-price">
                                                <span class="price">
                                                    @{
                                                        int Price = Convert.ToInt32(item.Quantity * item.SanPhamm.GiaMoi);
                                                        i++;
                                                        totPrice += Price;
                                                    }
                                                    @Price.ToString("N0")đ
                                                </span>
                                            </span>
                                        </div>
                                        <div style="width: 5%" class="a-center">
                                            <a class="btn-checkout-cart button_checkfor_buy" title="Xóa" href="/Cart/Add/@item.ProId">
                                                <span><i class="fa fa-trash-alt"></i>Thêm vào giỏ hàng</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }

                    </form>
                    <div class="col-lg-5 col-md-5">
                        <div class="section bg_cart shopping-cart-table-total">
                            <div class="table-total">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td coldspan="20" class="total-text">Tổng tiền thanh toán: </td>
                                            <td class="txt-right totals_price price_end a-right">@totPrice.ToString("N0")đ</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-7 col-md-7">
        <a href="/SanPham/Index" class="form-cart-continue">Tiếp tục mua hàng</a>
    </div>
</section>